
#hornalista {
    padding: 5px;
    background: lightgray;
}

#navigacia {
    padding: 10px 24px;
    border-width: 3px;
    border-color: black;
    font-family: "Rockwell Extra Bold", cursive;
    font-weight: bolder;
    font-size: 25px;
}

.navbar-nav {
    float: none;
    margin: 0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float: none;
}

.nav-link {
    margin: 0 50px;

}




.footer {
    background-color: #1f1e1e;
}

#textKontakt {
    color: #aba795;
}

#article_form {
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#exampleFormControlInput1 {
    width: 500px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#exampleFormControlTextarea1 {
    height: 300px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#article_form_text {
    width: 100%;
}


#tlacidlo {
    width: 150px;
    font-size: 20px;
    border-radius: 20px;
}

#tlacidloKomentar {
    width: 200px;
    font-size: 20px;
    border-radius: 20px;
}

#tlacidloPlan {
    width: 150px;
    font-size: 20px;
    border-radius: 20px;
}

#alert {
    width: 50%;
    text-align: center;
}

#logo {
    width: 100px;
    height: 80px;

}