html{
    overflow-x: hidden!important;
}

body {
    background-image: url(pozadie.jpg);
    /*background-position: center center;*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgba(63, 61, 61, 0.78);
    background-blend-mode: difference;

}

body > #trojuholnik {
    width: 100%;
    height: 100%;
    background-color: rgb(253, 97, 1);
    clip-path: polygon(100% 32%, 44% 100%, 100% 100%);
    position: fixed;
    z-index: -2;
}

body > #ciara {
    width: 100%;
    height: 100%;
    background-color: rgb(1, 245, 253);
    clip-path: polygon(43% 100%, 100% 32%, 100% 34%, 45% 100%);
    position: fixed;
    z-index: -1;
}

a {
    width: 190px;
    display: block;
}



#nadpis {
    position: relative;
    font-size: 5vw;
    width: 45%;
    display: block;
    color: white;
    font-family: "Rockwell Extra Bold", cursive;
    font-weight: bold;
    text-shadow: 4px 0 0 #000000FF, -4px 0 0 #000000, 0 4px 0 #000000FF, 0 -4px 0 #000000FF, 3px 3px #000000FF, -3px -3px 0 #000000FF, 3px -3px 0 #000000FF, -3px 3px 0 #000000FF;

}

#podnadpis {
    position: relative;
    font-size: 2.5vw;
    width: 50%;
    color: white;
    padding: 10px 24px;
    text-align: right;
    font-family: "Rockwell Extra Bold", cursive;
    display: block;
    text-shadow: 4px 0 0 #000000FF, -4px 0 0 #000000, 0 4px 0 #000000FF, 0 -4px 0 #000000FF, 3px 3px #000000FF, -3px -3px 0 #000000FF, 3px -3px 0 #000000FF, -3px 3px 0 #000000FF;

}

#stranka {
    padding: 10px 24px;
    border-width: 3px;
    border-color: black;
    font-family: "Rockwell Extra Bold", cursive;
    text-shadow: 2px 0 0 #000000FF, -2px 0 0 #000000, 0 2px 0 #000000FF, 0 -2px 0 #000000FF, 1px 1px #000000FF, -1px -1px 0 #000000FF, 1px -1px 0 #000000FF, -1px 1px 0 #000000FF;
}

#rezervacia {
    padding: 10px 24px;
    border-width: 3px;
    border-color: black;
    font-family: "Rockwell Extra Bold", cursive;
    text-shadow: 2px 0 0 #000000FF, -2px 0 0 #000000, 0 2px 0 #000000FF, 0 -2px 0 #000000FF, 1px 1px #000000FF, -1px -1px 0 #000000FF, 1px -1px 0 #000000FF, -1px 1px 0 #000000FF;
}

.main-container {
    height: 38vh;
    width: 100%;
}

.main-container2 {
    height: 2vh;
}
