* {
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(../Pociatocna/pozadie.jpg);
    /*background-position: center center;*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

.wrapper {
    position: relative;
    overflow: hidden;
    height: 200vh;
}

.form-area {
    width: 500px;
    height: 1230px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.75);
    background: rgba(244,244,245,0.08);

}

.form-text {
    position: absolute;
    height: 100%;
    width: 100%;
    font-family: cursive;
    color: #fff;

}

.form-text h1{
    text-align: center;
    margin: 35px 0;
    font-size: 30px;
    font-family: cursive;
}

.form-text input{
    display: block;
    width: 250px;
    margin: 30px auto;
    padding: 10px;
    background: #fafafa;
    color: #000;
    border: 0;
    font-size: 15px;
    text-transform: none;
}

.form-text button{
    width: 250px;
    margin: 20px auto;
    display: block;
    cursor: pointer;
    text-transform: uppercase;
    background: green;
    border: 0;
    color: #fff;
    padding: 15px;
    font-size: 14px;

}

.form-text label {
    display: block;
    width: 250px;
    height: 0;
    margin: auto;
    color: #000;
    border: 0;
    font-size: 13px;

}

.form-text a{
    border: 0;
    width: 150px;
    margin-left: 15px;
    transform: translate(100%, -50%);


}

.form-text p{
    text-align: right;
    font-size: 18px;
    margin-left: 10px;
    padding: 2px;
    color: orange;
}

h1 {
    color: black;
}

#Domov  {
    color: brown;
}

#Prihlasit {
    color: orange;

}
